/* Global */
:root {
    --main-blue: #4456B1;
    --light-blue: #7B8FF7;
    --dark-blue: #1E2B6C;
    --disabled-blue: #A4AAC7;
    --titles-color: #444444;
    --disabled-bg: #E1E3EC;
    --main-bg: #f5f6f9;
    --white: #ffffff;
    --popup-overlay: rgba(0, 0, 0, 0.5);
    --light-green: #44B156;
    --bad-rating: #97A2B5;

    --main-font: "Montserrat", "Helvetica", sans-serif;

    --animation: 0.155s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

ul {
    list-style: none;
}

.visually-hidden {
    font-size: 0;
    position: absolute;
    width: 0px;
    height: 0px;
    clip: rect(0, 0, 0, 0);
}

.wrapper {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
}

.header {
    padding: 20px 0;
    background-color: var(--main-blue);
}

.header__inner-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: var(--white);
}

.sorting__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .sorting__order {
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .sorting__order button{
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 1.57;
    letter-spacing: 0.02em;
    color: var(--disabled-blue);
  }
  
  .sorting__order-list,
  .language-list {
    display: flex;
    padding: 0;
    list-style: none;
  }

  
  .sorting__order-tab button,
  .language button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    color: var(--white);
    padding: 8px 18px;
    border: 2px solid var(--light-blue);
    cursor: pointer;
    background-color: var(--light-blue);
    color: var(--white);
  }

  
  .sorting__order-tab:first-of-type button{
    border-radius: 4px 0 0 4px;
  }
  
  .sorting__order-tab:last-of-type button{
    border-radius: 0 4px 4px 0;
  }
  
  .sorting__order-tab input:focus + button{
    outline: none;
    background-color: var(--main-blue);
    border-color: var(--main-blue);
    color: var(--white);
  }
  
  .sorting__order-tab input:checked + button{
    color: var(--white);
    background-color: var(--main-blue);
    border-color: var(--main-blue);
  }
  
  .sorting__order-tab label:hover {
    color: var(--white);
    border-color: var(--white);
  }

  button.active {
    background-color: var(--main-blue);
  }
  /* Main */

  .word-block {
    display: flex;
    justify-content: center;
    margin: 250px auto 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .rus-word,
  .iz-word {
    font-size: 66px;
    color: #222;
    margin: 0;
  }

  .iz-word {
    margin: 15px 0 0 0;
  }

  .iz-word--hide {
    opacity: 0;
    order: 2;
  }

  .iz-word--active {
    opacity: 1;
    order: 1;
  }

  .rus-word--hide {
    opacity: 0;
    order: 2;
  }

  .rus-word--active {
    opacity: 1;
    order: 1;
  }

  .action-list {
    display: flex;
    margin: 0 auto;
    max-width: 500px;
  }

  .action-list__action {
    width: 250px;
  }

  .action-list__action button {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    padding: 8px 18px;
    border: 2px solid var(--light-blue);
    cursor: pointer;
    color: var(--light-blue);
    background-color: var(--white)
  }

  .action-list__action:nth-child(2) button {
    border-left: none;

  }